body{
    width: 100%;
    margin: 0 auto;
}

/**************HEADER-NAVIGATION-LOGO**************/
header{
    background-image: url(../img/dinosaure.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
header img:nth-of-type(2){
    position: absolute;
    right: 0;
    bottom: -180px;
}

/************NAVIGATION***************/
nav{
   z-index: 2;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
    position: fixed;
}

nav a{
    text-decoration: none;
    padding: 7vh;
    color: white;
}

nav a:hover{
    border: 2px solid #fff;
}

button:hover{
    background-color: white;
    color: #1C5F81;
}

/****LOGO****/
.imagelogo{
    margin: 7% auto 5% 25%;
}

/****BUTTON***/
button{
    background-color: #1C5F81;
    border-width: 1px;
    height: 4vh;
    width: 20vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/************NOS CONTENUE DU MAIN***************/

/****MAIN**/
main{
    padding: 4% 25%;
}

/**ICI NOTRE PREMIERE SECTION DE PAGE******/

.sectioncontenu1 img{
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 100%;
    transition-duration: 0.5s;

}

.sectioncontenu1 img:hover{
    transform: scale(1.2);
}

h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 6vh;

}

/*NOTRE article de nos paragraphe*******/
.articlepara{
    font-family: 'Montserrat', sans-serif;
    margin-top: 8%;
}

.articlepara1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

/***NOTRE BOUTTON RESERVER**********/
.buttonreserver{
    margin-left: 40%;
    height: 5vh;
    margin-bottom: 5%;
    background-color: #1C5F81;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* SECTION information paiement contact chemin*/

.sectionpaiement{
    width: 50%;
    float: left;
    height: 75vh;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5vh;
}

.metro{
    width: 40px;
    margin-bottom: -5px;
}

.sectionmap{
    width: 50%;
    float: right;

    font-family: 'Montserrat', sans-serif;
    margin-top: 5vh;
}

/****BOUTIN billet ACHETER MAINTENANT******************/

.billet{
    height: 15%;
    width: 35%;
    background-color: #1C5F81;
    font-family: 'Montserrat', sans-serif;
}

hr{

    width: 85%;
    margin-left: 0;
    color:rgba(0, 0, 0, 0.397)
}

/***ICI LES CLASSE DE LA SECTION HOAIRE ET CARD*****/
.horaire{
    margin-top: 10%;
}

.card{
    height: 40vh;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

/*****************iframe****************/

iframe{
    width: 100%;
    height: 40vh;
}

.clear{
    clear: both;
}

/*******************sectionpartenaire*************/

.sectionpartenaire{
    margin: auto;
    margin-top: 15%;

    font-family: 'Montserrat', sans-serif;

}

h4{
    margin-left: 40%;
    font-size: 190%;
    width: 30%;
}

.imgpartenaire{
    display: flex;
    justify-content: space-between;
}

.imgpartenaire img{
    width: 8vh;
    height: 4vh;
 
}
/**************FOOTER**********/

footer{
    padding: 35px 24%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.imgfooter{
    height: 20vh;
}

footer a{
    text-decoration: none;
    color: white;
   
}

.afooter{
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    width: 30%;
}